* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(10deg, #010101ff, #2d2d2dff);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  margin-top: 0px;
}

.logo {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Bebas Neue", sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
  font-weight: bold;
  margin: 5px;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 4px;
  background: #00ccffff;
  transition: width 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}
nav ul li a:hover {
  color: #00ccffff;
  transition: 0.3s;
}

.contact-form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 195, 255, 0.4);
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1em;
  resize: none;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #00ccffff;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background: #00aaffff;
}


h1 {
  text-align: center;
  margin-top: 70px;
  font-size: 2em;
  font-weight: 800;
}


