* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(10deg, #010101ff, #2d2d2dff);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  margin-top: 0px;
}

.logo {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Bebas Neue", sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
  font-weight: bold;
  margin: 5px;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 4px;
  background: #00ccffff;
  transition: width 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}
nav ul li a:hover {
  color: #00ccffff;
  transition: 0.3s;
}

h1 {
  text-align: center;
  margin-top: 70px;
  font-size: 2em;
  font-weight: bold;
}

.skills {
    display:grid;
    margin-top: 80px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    align-items: center;
    margin-left: 50vh;
    grid-auto-rows: 80px;
}

.skills .bar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    padding: 30px;
    border-radius:30px;
    width: 150px; 
    height: 60px;
}

.skills .bar:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px  solid #00ccffff;
    padding: 30px;
    border-radius:30px;
    width: 150px; 
    height: 60px;
    box-shadow: 0 0 10px #00ccffff;

}


img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    object-fit: cover;
}   


